<% if (chat) { %>
<div class="d-flex border-bottom border-bottom-xl-0">
  <button class="btn  d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive-groups" aria-controls="offcanvasResponsive"><i class="fa-solid fa-bars"></i></button>
  <form class="border-bottom-0 border-bottom-xl my-0" id="group-name" action="/chat/updateGroupName/<%= chat.chatId %>?_method=PATCH" method="POST">
    <input hidden type="text" name="groupName" id="group-name-input" value="<%= chat.group.groupName || chat.group.members.map(m => m.userName).join(', ') %>" />
    <input hidden type="submit" id="update-group-name">
    <div class="text-primary group-name px-4 py-2 m-0 <%= chat.group.groupNameSet ? 'groupNameSet-true' : 'groupNameSet-false' %>" id="group-name-div" data-chat-id="<%= chat.chatId %>" contenteditable="true">
      <%=chat.group.groupName || chat.group.members.map(m=> m.userName).join(', ')%>
    </div>
  </form>

  <button class="btn ms-auto p-0" type="button" data-bs-toggle="modal" data-bs-target="#new-calender-event"><i class="fa-solid fa-calendar-plus px-4"></i></button>

  <div class="modal fade text-primary" id="new-calender-event" aria-hidden="true" aria-labelledby="new-calender-eventLabel" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header border-bottom">
          <h1 class="modal-title fs-5" id="new-calender-eventLabel">Create a New Event</h1>
          <button type="button" id="new-calender-event-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="calendar" action="/events/createEvent" method="POST" data-chat-id="<%= chat.chatId %>">
          <div class="modal-body">
            <input class="form-control" type="datetime-local" id="date" name="date" />
          </div>
          <div class="modal-footer border-bottom">
            <button type="button" id="see-all-events" class="btn btn-secondary" data-bs-target="#see-all-calender-events" data-bs-toggle="modal">See All Events</button>
            <button type="submit" id="create-event" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade text-primary" id="see-all-calender-events" aria-hidden="true" aria-labelledby="see-all-calender-eventsLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header border-bottom">
          <h1 class="modal-title fs-5" id="see-all-calender-eventsLabel2">Calendar Events</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <table class="table events">
              <thead>
                <tr >
                  <th scope="col" class="calender-header">#</th>
                  <th scope="col" class="calender-header">Restaurant</th>
                  <th scope="col" class="calender-header">Address</th>
                  <th scope="col" class="calender-header">Date</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i<events.length; i++) {%>
                <tr>
                  <th scope="row" class="calender-header"><%=i+1%></th>
                  <td><%=events[i].restaurant?.name%></td>
                  <td><%=events[i].restaurant?.address.building%> <%=events[i].restaurant?.address.street%>, <%=events[i].restaurant?.borough%>, NY <%=events[i].restaurant?.address.zipcode%></td>
                  <td class="date-set"><%=events[i].date%></td>
                </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer border-bottom">
          <button class="btn btn-primary" data-bs-target="#new-calender-event" data-bs-toggle="modal">Back</button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn d-xl-none " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive-members" aria-controls="offcanvasResponsive"><i class="fa-solid fa-user-group"></i></button>
</div>
<div class="chat-box container p-2 pb-0 overflow-x-hidden overflow-y-auto" id="chat-box" data-chat-id="<%= chat.chatId %>">
  <ul id="messages" class="messages list-unstyled px-5 py-4">
    <% for(let i=0; i<chat.messages.length; i++) {%>
    <% if(chat.messages[i].senderId) { %>
    <li class="content text-wrap text-break mb-2 fw-light ">
      <div class="message-header">
        <% if (chat.messages[i].senderId.profilePic) { %>
        <img src="<%= chat.messages[i].senderId.profilePic %>" alt="User Profile" class="px-2 rounded" width="32" height="32">
        <% } else { %>
        <i class="px-2 fa-solid fa-user"></i>
        <% } %>
        <span class="userName text-primary">
          <%=chat.messages[i].senderId?.userName%>
        </span>
        <span class="createdAt">
          <%=chat.messages[i].createdAt %>
        </span>
      </div>
      <div class="message-content">
        <% if(chat.messages[i].content) { %>
        <%=chat.messages[i].content%>
        <% } else { %>
        <img class="message-image" src="<%= chat.messages[i].image %>" alt="User uploaded image">
        <% } %>
      </div>
    </li>
    <% } else { %>
    <li class="content text-wrap text-break mb-2 fw-light">
      <span>
        <i class="px-2 fa-solid fa-<%= chat.messages[i].content.includes('?') ? 'circle-question' :chat.messages[i].content.includes('event') ? 'calendar-check' : chat.messages[i].content.includes('joined') ? 'arrow-right' : 'arrow-left'%>"></i>
      </span>
      <span class="<%= chat.messages[i].content.includes('?') ? '' : 'text-primary' %>">
        <%=chat.messages[i].content.split(" ")[0]%>
      </span>
      <span class="<%=chat.messages[i].content.includes('event') ? 'eventSystemMessage' : '' %>">
        <%= chat.messages[i].content.split(" ").slice(1).join(" ")%>
      </span>
      <span class="createdAt">
        <%=chat.messages[i].createdAt %>
      </span>
    </li>
    <% } %>
    <% } %>
  </ul>
</div>
<form id="form" class="mb-2 px-3" action="/messages/send" enctype="multipart/form-data" method="POST" data-chat-id="<%= chat.chatId %>" data-sender-id="<%= chat.senderId %>" data-user-name="<%= user.userName %>">
  <div class="input-group">
    <div class="dropup">
      <button class="btn btn-secondary rounded-end-0 border border-end-0 px-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-circle-plus fa-xl"></i>
      </button>
      <ul class="dropdown-menu chat-file-upload p-0">
        <li class="input-group">
          <input type="file" name="file" class="form-control" id="fileInput">
        </li>
      </ul>
    </div>
    <input id="input" autocomplete="off" type="text" name="content" class="form-control fw-light <%= chat.group.groupNameSet ? 'groupNameSet-true' : 'groupNameSet-false' %>" placeholder="Message <%= chat.group.groupNameSet ? chat.group.groupName : chat.group.members.map((member, j) => member.userName).join(', ') %>" data-chat-id="<%= chat.chatId %>" />
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
<% } else { %>
<div class="d-flex">
  <button class="btn d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive-groups" aria-controls="offcanvasResponsive"><i class="fa-solid fa-bars"></i></button>
  <p class="container mt-5">Please select a chat.</p>
</div>
<% } %>