<div class="flex-grow-1 py-1">
    <div class="d-flex justify-content-between px-3 py-2 border-bottom">
      <span>GROUP CHATS</span>
      <span class="ms-auto">
        <form class="d-inline-block" id="new-chat" action="/chat/createChat" method="POST" data-user-name="<%= user.userName %>">
          <input hidden type="submit" id="create-chat">
          <label class="nav-link " for="create-chat"><i class="fa-solid fa-plus fa-sm" style="color: #BFD9D7;"></i>
          </label>
        </form>
      </span>
    </div>
    <div class="group-chat-list p-2 pb-0 ">
      <% if (chats.length) { %>
      <ul class="list-unstyled">
        <% for(let i=0; i<chats.length; i++) {%>
        <div class="p-2">
          <div class="d-flex group">
            <a class="link-primary link-underline-opacity-0 w-75" href="/messages/<%= chats[i]._id%>">
              <li class="mt-3 text-truncate card-group-name <%= chats[i].groupNameSet ? 'groupNameSet-true' : 'groupNameSet-false' %>" data-chat-id="<%= chats[i]._id %>">
                <% if (chats[i].groupNameSet) { %>
                <%= chats[i].groupName %>
                <% } else { %>
                <%= chats[i].members.map((member, j) => member.userName).join(', ') %>
                <% } %>
              </li>
            </a>
            <a class="x-mark ms-auto mt-3" href="/user/<%=user._id%>">
              <div class=""> <i class=" fa-solid fa-xmark" style="color: #BFD9D7;"></i></div>
            </a>
          </div>
          <div class="member-length fw-normal d-block">
            <%=chats[i].members.length%> Member<%= chats[i].members.length == 1 ? '' : 's' %>
          </div>
        </div>
        <% } %>
      </ul>
      <% } %>
    </div>
  </div>
  <div class="d-flex text-primary p-2  user-card m-0 w-auto">
    <img src="/imgs/gabriel-sample.jpg" alt="User Profile" class="flex-shrink-0 me-2 rounded" width="32" height="32">
    <div class="p-1 mb-0 small lh-sm">
      <strong>@<%=user.userName%></strong>
      <div class="text-light pt-1">
        <%= user.userStatus%>
      </div>
    </div>
    <a class="ms-auto" href="/user/<%=user._id%>">
      <div class="p-2"> <i class="fa-solid fa-gear" style="color: #BFD9D7;"></i></div>
    </a>
  </div>