<% if (chat) { %>
<div class="d-flex justify-content-center mb-3">
  <form  id="group-name" action="/chat/updateGroupName/<%= chatId %>?_method=PATCH" method="POST" >
    <input hidden type="text" name="groupName" id="group-name-input" value="<%= group.groupName || group.members.map(m => m.userName).join(', ') %>" />
    <input hidden type="submit" id="update-group-name">
    <span class="group-name p-2 rounded-4" id="group-name-span" data-chat-id="<%= chatId %>" contenteditable="true">
      <%= group.groupName || group.members.map(m => m.userName).join(', ') %>
    </span>
  </form>
</div>

<div class="container chat-box" id="chat-box">
  <ul id="messages" class="messages list-unstyled">
    <% for(let i=0; i<chat.length; i++) {%>
    <span class="userName"><%=chat[i].senderId.userName || userName%></span>
    <span class="createdAt"><%=new Date(chat[i].createdAt).toLocaleString(undefined, { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %></span>
    <li class="content">
      <% if (chat[i].content) { %>
      <%= chat[i].content %>
      <% } else  { %>
      <img class="message-image" src="<%= chat[i].image %>" alt="User uploaded image">
      <% } %>
    </li>
    <% } %>
  </ul>
</div>
<form id="form" class="mb-2" action="/messages/send" enctype="multipart/form-data" method="POST" data-chat-id="<%= chatId %>" data-sender-id="<%= senderId %>" data-user-name="<%= userName %>">
  <div class="input-group">
    <input id="input" autocomplete="off" type="text" name="content" class="form-control" placeholder="Type your message here..." />
    <input type="file" name="file" id="fileInput" class="form-control" />
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
<% } else { %>
<p class="container mt-5">Please select a chat.</p>
<% } %>