<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasResponsive-groups" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-body d-flex flex-column p-0">
    <div class="mb-auto py-1">
      <div class="d-flex  px-3 py-2 border-bottom">
        <span>GROUP CHATS</span>
        <span class="mx-2">
          <form class="d-inline-block" id="new-chat-offcanvas" action="/chat/createChat" method="POST">
            <input hidden type="submit" id="create-chat-offcanvas">
            <label class="nav-link " for="create-chat-offcanvas"><i class="fa-solid fa-plus fa-sm"></i>
            </label>
          </form>
        </span>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
      </div>
      <div class="p-2 pb-0 ">
        <% if (chats.length) { %>
        <ul class="group-chat-list list-unstyled overflow-y-auto">
          <% for(let i=0; i<chats.length; i++) {%>
          <div class="p-2">
            <div class="group d-flex">
              <a class="link-primary link-underline-opacity-0 w-75" href="/messages/<%= chats[i]._id%>">
                <li class="mt-3 text-truncate card-group-name <%= chats[i].groupNameSet ? 'groupNameSet-true' : 'groupNameSet-false' %>" data-chat-id-offcanvas="<%= chats[i]._id %>">
                  <%= chats[i].groupNameSet ? chats[i].groupName : chats[i].members.map((member, j) => member.userName).join(', ') %>
                </li>
              </a>
              <form class="x-mark-offcanvas ms-auto mt-3" id="delete-chat-offcanvas-<%= chats[i]._id %>" action="/chat/deleteChat/<%= chats[i]._id %>?_method=DELETE" method="POST" data-chat-id="<%= chats[i]._id %>">
                <input hidden type="submit" id="delete-chat-input-offcanvas<%= chats[i]._id %>">
                <label class="nav-link" for="delete-chat-input-offcanvas<%= chats[i]._id %>"><i class=" fa-solid fa-xmark"></i>
                </label>
              </form>
            </div>
            <div class="member-length fw-normal d-block" data-l-member-count-chat-id-offcanvas="<%= chats[i]._id %>">
              <%=chats[i].members.length%> Member<%= chats[i].members.length == 1 ? '' : 's' %>
            </div>
          </div>
          <% } %>
        </ul>
        <% } %>
      </div>
    </div>
    <div class="d-flex text-primary p-2 user-card m-0 w-auto">
      <img src="/imgs/gabriel-sample.webp" alt="User Profile" class="flex-shrink-0 m-2 rounded" width="32" height="32">
      <a href="/profile" class="navbar-brand d-flex align-items-center me-auto">
        <div class="p-1 mb-0 small lh-sm">
          <strong>@<%=user.userName%></strong>
          <div class="text-light pt-1">
            <%= user.userStatus%>
          </div>
        </div>
      </a>
      <div class="dropup-center dropup">
        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </button>
        <ul class="dropdown-menu btn btn-primary">
          <li class="d-flex justify-content-center my-3">
            <a class="nav-link" href="/about">about</a>
          </li>
          <li class="d-flex justify-content-center my-3">
            <a class="nav-link" href="/learn">learn</a>
          </li>
          <li class="d-flex justify-content-center my-3">
            <a class="nav-link" href="/safety">safety</a>
          </li>
          <li class="d-flex justify-content-center my-3">
            <div data-bs-toggle="modal" data-bs-target="#preferences-offcanvas">
              preferences
            </div>
          </li>
          <li class="d-flex justify-content-center my-3">
            <a class="nav-link" href="/logout">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <!-- Preferences Modal -->
    <div class="modal fade" id="preferences-offcanvas" tabindex="-1" aria-labelledby="preferences-offcanvasLabel" aria-hidden="true" data-bs-backdrop="false">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header border-bottom">
            <h1 class="modal-title fs-5" id="preferences-offcanvasLabel">Preferences</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="preferences-offcanvas" action="/user/update/<%=user._id%>?_method=PATCH" method="POST" data-user-name="<%= user.userName %>">
            <div class="modal-body">
              <%- include('preferences-offcanvas') -%>
            </div>
            <div class="modal-footer border-bottom">
              <button type="button" id="clearAll-offcanvas" class="btn btn-danger">Clear All</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% if (chat) { %>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasResponsive-members" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-body d-flex flex-column p-0">
    <div class="py-1">
      <div class="px-3 py-2 d-flex justify-content-between border-bottom">
        <span class="me-2" data-r-member-count-chat-id-offcanvas="<%= chat.chatId %>">MEMBER<%= chat.group.members.length == 1 ? '' : 'S' %>-<%=chat.group.members.length%></span>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
      </div>
      <div class="group-chat-list p-2 pb-0 text-primary">
        <ul class="list-unstyled p-2" data-member-chat-offcanvas-id="<%= chat.chatId %>">
          <% for(let i=0; i<chat.group.members.length; i++) {%>
          <li class="mt-3" data-member-offcanvas-id="<%= chat.group.members[i]._id %>">
            <%= chat.group.members[i].userName%>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% } %>