<%- include('partials/header') -%>

<main class="d-flex flex-wrap justify-content-around vh-75 flex-grow-1">
    <form action="/preferences/update" method="PATCH">
      <h1>Food Preferences</h1>
      <% for(var i=0; i<foodPreferences.length; i++) {%>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input <%= userFoodPreferences.includes(foodPreferences[i].foodPreference) ? 'checked' : '' %> type="checkbox" class="btn-check" id="btncheck<%=i%>" name="foodPreferences">
          <label class="btn btn-outline-primary" for="btncheck<%=i%>"><%=foodPreferences[i].foodPreference%></label>
        </div>
        <% } %>
        <h1>Interests</h1>
        <% for(var i=0; i<interests.length; i++) {%>
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input <%= userInterests.includes(interests[i].interest) ? 'checked' : '' %> type="checkbox" class="btn-check" id="btncheck<%=i+foodPreferences.length%>" name="interests">
            <label class="btn btn-outline-primary" for="btncheck<%=i+foodPreferences.length%>"><%=interests[i].interest%></label>
          </div>
          <% } %>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </main>

<%- include('partials/footer') -%>