<%- include('partials/header') -%>

<main class="d-flex flex-wrap justify-content-around vh-75 flex-grow-1">
    <form action="/user/update/<%=user._id%>?_method=PATCH" method="POST">
      <h1>Food Preferences</h1>
      <% for(let i=0; i<foodPreferences.length; i++) {%>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input <%= user.preferences.foodPreferences.includes(foodPreferences[i].foodPreference) ? 'checked' : '' %> type="checkbox" class="btn-check" id="btncheck<%=i%>" name="foodPreferences" value="<%= foodPreferences[i].foodPreference %>">
          <label class="btn btn-outline-primary" for="btncheck<%=i%>"><%=foodPreferences[i].foodPreference%></label>
        </div>
        <% } %>
        <h1>Interests</h1>
        <% for(let i=0; i<interests.length; i++) {%>
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input <%= user.preferences.interests.includes(interests[i].interest) ? 'checked' : '' %> type="checkbox" class="btn-check" id="btncheck<%=i+foodPreferences.length%>" name="interests" value="<%= interests[i].interest %>">
            <label class="btn btn-outline-primary" for="btncheck<%=i+foodPreferences.length%>"><%=interests[i].interest%></label>
          </div>
          <% } %>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

    </form >
  <!-- Clear All Preferences Form (PUT) -->
  <form action="/user/delete/<%= user._id %>?_method=PUT" method="POST">
    <div>
      <button type="submit" class="btn btn-danger">Clear All</button>
    </div>
  </form>
  </main>

<%- include('partials/footer') -%>