<main class=" d-flex flex-wrap justify-content-around vh-75 flex-grow-1 py-3"">
    <h2 class="fs-5 me-auto">Food</h2>
    <div class="m-2">
      <% for(let i=0; i<foodPreferences.length; i++) {%>
      <div class="btn-group mb-2" role="group" aria-label="Basic checkbox toggle button group">
        <input <%= user.preferences.foodPreferences.includes(foodPreferences[i]) ? 'checked' : '' %> type="checkbox" class="btn-check fs-5" id="btncheck<%=i%>" name="foodPreferences" value="<%= foodPreferences[i] %>">
        <label class="btn btn-outline-light" for="btncheck<%=i%>"><%=foodPreferences[i]%></label>
      </div>
      <% } %>
    </div>
    <h2 class=" fs-5 me-auto">Interests</h2>
    <div class="m-2">
      <% for(let i=0; i<interests.length; i++) {%>
      <div class="btn-group mb-2" role="group" aria-label="Basic checkbox toggle button group">
        <input <%= user.preferences.interests.includes(interests[i]) ? 'checked' : '' %> type="checkbox" class="btn-check" id="btncheck<%=i+foodPreferences.length%>" name="interests" value="<%= interests[i] %>">
        <label class="btn btn-outline-light" for="btncheck<%=i+foodPreferences.length%>"><%=interests[i]%></label>
      </div>
      <% } %>
    </div>
</main>