<main class="d-flex flex-wrap justify-content-around py-3">
    <h2 class="fs-5 me-auto">Food</h2>
    <div class="m-2">
      <% for(let i=0; i<cuisines.length; i++) {%>
        <div class="btn-group mb-2" role="group" aria-label="Basic checkbox toggle button group">
          <input <%= user.preferences.cuisines?.some(cuisine => cuisine._id.toString() === cuisines[i]._id.toString()) ? 'checked' : '' %> type="checkbox" class="btn-check fs-5" id="btncheck-offcanvas-<%=i%>" name="cuisines" value="<%= cuisines[i]._id %>">
          <label class="btn btn-outline-light" for="btncheck-offcanvas-<%=i%>"><%=cuisines[i].cuisine%></label>
        </div>
      <% } %>
    </div>
    <h2 class=" fs-5 me-auto">Interests</h2>
    <div class="m-2">
      <% for(let i=0; i<interests.length; i++) {%>
      <div class="btn-group mb-2" role="group" aria-label="Basic checkbox toggle button group">
        <input <%= user.preferences.interests?.some(interest => interest._id.toString() === interests[i]._id.toString()) ? 'checked' : '' %> type="checkbox" class="btn-check" id="btncheck-offcanvas-<%=i+cuisines.length%>" name="interests" value="<%= interests[i]._id %>">
        <label class="btn btn-outline-light" for="btncheck-offcanvas-<%=i+cuisines.length%>"><%=interests[i].interest%></label>
      </div>
      <% } %>
    </div>
</main>