<%- include('partials/header') -%>
<main class="h-100">
  <div class="h-100 row m-0">
    <div class="col-2 d-none d-xl-flex flex-column group-card p-0 h-100">
      <%- include('chats') -%>
    </div>
    <div class="col-xl-8 d-flex flex-column py-1 px-0 h-100">
      <%- include('chat') -%>
    </div>
    <div class="col-2 d-none d-xl-flex flex-column group-card p-0 h-100">
      <%- include('members') -%>
    </div>
    <div>
      <%- include('offcanvas') -%>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>